@charset "utf-8";
*{
  box-sizing: border-box;
}
.title{
  color:#02ccba
}
body{
  margin:0;
  font-family:"Hiragino Kaku Gothic ProN";
  color:black;
  font-weight: bold;
}
header{
  margin:0;
  height:100px;
  width:100%;
  color:white;
  background-color:black;
}
header a{
  text-decoration: none;
  color:white;
}
header a:hover{
  color:yellow;
  border-bottom: 2px dashed white;
}
.header-right{
  float:right;
}
.header-right li{
  display:inline-block;
  float:left;
}
.header-right a{
  margin:28px;
  font-size:20px;
  color: white;
}
.icon{
  margin:5px;
  padding-top:10px;
  padding-left: 20px;
  width:120px;
  display: inline-block;
}

.head-container{
  padding-top:28px;
}

.slide-itme img{
  background-size: cover;
}

.top-wrapper{
  background-image: url("https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/17498717_432531117097351_5439272568744158357_n.jpg?_nc_cat=0&oh=aca751f0c0ea9a8e4c002e35eca3eb94&oe=5BC7D14B");
  background-size:100% 100%;
  height:350px;
  width:auto;
}
.studio{
  padding-left:100px;
  padding-right:100px;
}
.studio img{
  height:350px;
  width: 80px;
  float:left;
  width:50%;
  display:inline-block;
}
.pic2 img{
 float:right;
}
.pic2 p{
  text-align: right;
}
.studio p{
  width:100%;
  padding-bottom: 20px;
  display:inline-block;
  font-size: 18px;
  color: black;
}
.concept h1,.event h1,.awards,.schedule h2,.ins-container,.pri-container,.pri-container,.bring h2{
  margin:0 20px;
  padding-top: 20px;
  font-size: 36px;
}
.container{
  background-image: url("https://images.pexels.com/photos/1045534/pexels-photo-1045534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size:100% 100%;
  width: 100%;
}
.pre-container{
    background: rgba(255,255,255,0.6);
}
.container h1{
  font-family:fantasy;
  border-bottom: 4px solid #0F0;
  letter-spacing:5px;
  margin:auto;
  width:210px;
  text-align: center;
}
.exp,.event li,.bonchi li,.concept h3,.concept p{
  text-align: center;
  list-style: none;
  margin: 15px;
  font-size: 20px
}
.event h1{
  font-family:fantasy;
  border-bottom: 4px solid #ff00ff;
  letter-spacing:5px;
   margin: 10px auto;
    width:210px;
    text-align: center;
}
.awards{
  font-family:fantasy;
  border-bottom: 4px solid #00ffff;
  letter-spacing:5px;
  margin: 10px auto;
  width:210px;
  text-align: center;
}

footer{
  text-align: center;
  height:180px;
  padding-top:10px;
  color:white;
  background-color:black
}

/* Instructor */
.ins-container{
  font-size: 24px;
  letter-spacing: 5px;
  font-family: fantasy;
  margin: 0;
}
.ins,.aika,.masato{
  margin:auto;
  text-align: center;
}
.ins{
  width:210px;
  border-bottom: 4px solid #ffff00;
}
.ins-container li{
  font-family:fantasy;
  font-size: 18px;
  padding-bottom: 5px;
  margin-left:400px;
}
.ins-container img{
  height:350px;
  width:40%;

}
.aika{
  font-size: 50px;
  color:#ff1493;
  font-family: fantasy;
  margin-top:0;
  margin-bottom: 0;
}
.masato{
  font-size: 50px;
  color: #0000bb;
  font-family: fantasy;
  margin-top:0;
  margin-bottom: 0;
}
/* Lesson */
.schedule h2{
  margin:15px auto;
  width: 340px;
  font-family:fantasy;
  border-bottom: 4px solid #f00;
  letter-spacing:5px;
}
/* price */
.pri-container {
  font-size: 36px;
  font-family: fantasy;
  width: 260px;
border-bottom: 4px solid #ff77ff;
letter-spacing:5px;
}
.price h2,table,.bring h2{
    margin:10px auto;
}
table{
  text-align: center;
}
.tr{
  background-color:#77ffff;
}
.tr2{
  background-color:#ffff77;
}
.tr3{
  background-color:#77ffff;
}
.bring h2{
  font-family:fantasy;
  border-bottom: 4px solid #ff77ff;
  width:300px;
  letter-spacing:5px;
  padding-top:20px;
}
.bring li{
  margin-left:500px;
  line-height: 30px;
}
/* other */
.other{
  text-align: center;
  padding-top:20px;
  height: 1000px;
}
.other h2{
  border-bottom:4px solid #aa0000;
  margin:auto;
  width:210px;
  text-align: center;
}
.other p{
  padding-bottom: 30px;
}
.ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}


.fadeIn h1{
    opacity : 0;
    transform : translate(0, 50px);
    transition : all 300ms;
}
.fadeIn h1.scrollIn {
    opacity : 1;
    transform : translate(0, 0);
}




@media (max-width:1000px){
  body{
    width: 50%;
    margin: 0 auto;
  }
  .studio{
    padding:auto 0;
  }
  .studio img{
    width: 100%;
  }
  .ins-container li{
    margin-left: 0;
    font-size: 14px;
  }
.ins-container img{
  width:100%;
}

 .icon{
    display: block;
    margin-top:5px;
   max-width:120px;
   margin-right:0;
  }
  .head-container{
    padding-top:10px;
  }
  .menu{
    font-size: 12px;
  }

  }

@media (max-width:670px){
  body{
    width: 100%;
    padding:0 10px;
  }
  .event li,.bonchi li,.other p{
    font-size:12px;
  }
  .studio{
    padding:0;
  }
  .studio img{
  width: 80%;
  }
  .ins-container li{
    margin-left: 0;
  }
  .ins-container img{
    width:80%;
  }
  .head-container{
    padding-top:10px;
  }
    .menu{
    font-size: 12px;
  }
}
