@charset "utf-8";
.title{
  color:#02ccba
}
body{
  margin:0;
  font-family:"Hiragino Kaku Gothic ProN";
}
header{
  margin:0;
  height:100px;
  width:100%;
  color:white;
  background-color:black;
}
header a{
  text-decoration: none;
  color:white;
}
header a:hover{
  color:yellow;
  border-bottom: 2px dashed white;
}
.header-right{
  float:right;
}
.header-right li{
  display:inline-block;
  float:left
}
.header-right a{
  margin:28px;
  font-size:20px;
  color: white;
}
.icon{
  margin:5px;
  padding-top:10px;
  width:100px;
  height:24px;
  display: inline-block;
}
.head-container{
  padding-top:28px;
}
.top-wrapper{
  background-image: url(https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/17498717_432531117097351_5439272568744158357_n.jpg?_nc_cat=0&oh=aca751f0c0ea9a8e4c002e35eca3eb94&oe=5BC7D14B);
  background-size:100% 100%;
  height:350px;
  width:auto;
}
.studio{
  padding-left:100px;
  padding-right:100px;
}
.studio img{
  height:350px;
  width: 80px;
  float:left;
  width:50%;
  display:inline-block;
}
.pic2 img{
 float:right;
}
.pic2 p{
  text-align: right;
}
.studio p{
  width:100%;
  padding-bottom: 20px;
  display:inline-block;
  font-size: 12px;
  color: black;
}
.concept, .event,.bonchi,.schedule,.ins-container{
  margin:10px 20px;
}
.concept h1{
  font-family:fantasy;
  border-bottom: 4px solid #0F0;
  width:120px;
  letter-spacing:5px;
}
.event h1{
  font-family:fantasy;
  border-bottom: 4px solid #ff00ff;
  width:120px;
  letter-spacing:5px;
}
footer{
  text-align: center;
  height:180px;
  padding-top: 15px;
  color:white;
  background-color:black
}


/* Instructor */
.ins-container{
  font-size: 24px;
  letter-spacing: 5px;
  font-family: fantasy;
}
.ins{
  width:210px;
    border-bottom: 4px solid #ffff00;
}
.ins-container li{
  font-family:fantasy;
  font-size: 16px;
  padding-bottom: 5px;
}
.ins-container img{
  height:350px;
  width:40%;
}
.aika{
  font-size: 50px;
  letter-spacing:5px;
  color:#ff1493;
  font-family: fantasy;
  margin-top:0;
  margin-bottom: 0;
}
.masato{
  font-size: 50px;
  color: #0000bb;
  font-family: fantasy;
  margin-top:0;
  margin-bottom: 0;
}
.awards{
  font-family:fantasy;
  border-bottom: 4px solid #00ffff;
  letter-spacing:5px;
  width:120px;
}
/* Lesson */
.schedule h2{
  width: 250px;
  font-family:fantasy;
  border-bottom: 4px solid #f00;
  letter-spacing:5px;
}
